include README.md requirements.txt requirements-dev.txt xlsx_provider/VERSION
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude tests *
recursive-exclude test_virtualenv *
prune test*
